pip==23.2.1
langchain
langchain-openai
chromadb 
langchain-chroma
langchain-openai
langchain-unstructured
langchain-community
streamlit
openai
tiktoken
pypdf
unstructured[all-docs]
pdfminer
poppler-utils
pytube
ffmpeg-python
transformers
pandas
pyarrow
